<%- include('header') %>
    <div id="admin-content">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-3 col-md-6" style="margin-left: 300px;">
                    <!-- Form -->
                    <form action="/dashboard/addPost" method="POST" enctype="multipart/form-data">
                        <h1 class="admin-heading text-center">Add New Post</h1>
                        <div class="mb-3">
                            <label style="font-size: 18px;">Title</label>
                            <input type="text" name="p_title" id="p_title" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label style="font-size: 18px;"> Description</label>
                            <textarea id="summernote" name="summernote" required></textarea>
                        </div>
                        <div class="mb-3">
                            <label style="font-size: 18px;">Category Name</label>
                            <!-- <input type="text" name="c_name" id="c_name" class="form-control" required> -->
                            <select class="form-control" name="c_name" id="c_name" style="font-size: 14px;">
                                <% category1.forEach((row)=> { %>
                                    <option style="font-size: 14px;" value="<%= row.c_name %>">
                                        <%= row.c_name %>
                                    </option>
                                    <% }); %>
                            </select>
                        </div>
                        <input type="hidden" name="c_role" id="c_role" value="<%= userRole %>" required>
                        <input type="hidden" name="c_email" id="c_email" value="<%= userEmail %>" required>
                        <div class="mb-3">
                            <label class="form-label" style="font-size: 18px;">Image Upload:</label>
                            <input type="file" class="form-control" id="p_image" name="p_image" style="font-size: 11px;">
                        </div>
                        <input type="submit" name="save" class="btn btn-primary" value="Save" style="font-size: 15px;width: 80px;height: 30px;" required />
                    </form>
                    <!--/Form -->
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div id="footer" style="font-size: 16px;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <span>&copy; 2023 News | Powered by Meta Solution</span>
                </div>
            </div>
        </div>
    </div>
    <!-- /Footer -->
    </body>
    <script>
        // Initialize the Summernote editor
        $('#summernote').summernote({
            placeholder: '<span style="font-size: 14px;">Write your description</span>',
            tabsize: 2,
            height: 120,
            toolbar: [
                ['style', ['style']],
                ['font', ['bold', 'underline', 'clear']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['table', ['table']],
                ['insert', ['link', 'picture', 'video']],
                ['view', ['fullscreen', 'codeview', 'help']]
            ]
        });
    </script>
    </html>