<%- include('header') %>
    <div id="admin-content">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <h1 class="admin-heading">All Categories</h1>
                </div>
                <div class="col-md-2">
                    <!-- Button to trigger the modal -->
                    <button type="button" class="btn btn-primary mt-3 mb-3" data-bs-toggle="modal"
                        data-bs-target="#addModal"
                        style="margin-left: 30px; font-size: 16px; padding: 8px; padding-left: 15px; padding-right: 15px;">
                        Add Category
                    </button>

                    <!-- The modal -->
                    <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="addModalLabel"
                                        style="font-size: 18px;font-weight: 600;">Add Category</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                                        style="height: 20px; width: 40px; background-color: black; color: white; border: none; border-radius: 1;">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form action="#" method="post" id="add-category-form" name="add-category-form">
                                        <div class="mb-3">
                                          <label class="form-label" style="font-size: 16px; font-weight: 600;">Category Name:</label>
                                          <input type="text" class="form-control custom-input" id="c_name" name="c_name">
                                          <input type="hidden" class="form-control" id="noOfPosts" name="noOfPosts">
                                        </div>
                                        <button type="submit" class="btn btn-primary custom-button">Submit</button>
                                      </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 
                    Button to trigger the modal 
                    <a type="button" class="btn btn-primary mt-3 mb-3"  href="/newCategoryPage"
                        style="margin-left: 30px; font-size: 16px; padding: 8px; padding-left: 15px; padding-right: 15px;">
                        Add Category
                </a>

                    The modal
                    <div class="modal fade" id="addModalCategory" tabindex="-1" aria-labelledby="addModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="addModalLabel" style="font-size: 18px;">Add Category
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                                        style="height: 20px; width: 40px; background-color: black; color: white; border: none; border-radius: 1;">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form action="#" method="post" id="add-category-form" name="add-category-form">
                                        <div class="mb-3">
                                            <label class="form-label" style="font-size: 16px;">Category Name:</label>
                                            <input type="text" class="form-control" id="c_name" name="c_name"
                                                style="height: 30px; font-size: 14px;">
                                            <input type="hidden" class="form-control" id="noOfPosts" name="noOfPosts">
                                        </div>
                                        <button type="submit" class="btn btn-dark"
                                            style="height: 35px; width: 100px; font-size: 14px;">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div> 
                    </div> -->
                </div>
                <div class="col-md-12">
                    <% if(user2 !=="" ){ %>
                        <table class="content-table" id="dt1" style="border: none;">
                            <thead>
                                <th style="font-size: 16px;" class="text-center">S.No.</th>
                                <th style="font-size: 16px;" class="text-center">Category Name</th>
                                <th style="font-size: 16px;" class="text-center">No. of Posts</th>
                                <th style="font-size: 16px;" class="text-center">Edit</th>
                                <th style="font-size: 16px;" class="text-center">Delete</th>
                            </thead>
                            <tbody>
                                <% user2.forEach((row, index)=> { %>
                                    <tr>
                                        <td style="font-size: 15px;" class="text-center">
                                            <%= index+1 %>
                                        </td>
                                        <td style="font-size: 15px;" class="text-center">
                                            <%= row.c_name %>
                                        </td>
                                        <td style="font-size: 15px;" class="text-center">
                                            <%= row.noOfPosts %>
                                        </td>
                                        <td style="font-size: 15px;" class="text-center">
                                            <!-- Edit User button -->
                                            <a href="#" class="text-danger" data-bs-toggle="modal"
                                                data-bs-target="#editModalCategory"
                                                onclick="setCategory('<%= row._id %>')">
                                                <i class=" fas fa-edit fa-lg mx-1"></i>
                                            </a>
                                        </td>
                                        <td style="font-size: 15px;" class="text-center">
                                            <!-- Delete User button -->
                                            <a style="cursor: pointer;" class="text-danger"
                                                onclick="deleteCategory('<%= row._id %>')">
                                                <i class="fas fa-trash fa-lg mx-1"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <% }) %>
                            </tbody>
                        </table>

                        <!-- Edit Modal -->
                        <div class="modal fade" id="editModalCategory" tabindex="-1" aria-labelledby="editModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="editModalLabel" style="font-size: 18px;font-weight: 600;">Edit Category
                                        </h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"
                                            style="height: 20px; width: 40px;background-color: black;color:white;border: none;border-radius: 1;">
                                            <i class="fas fa-times"></i>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form id="edit-category">
                                            <input type="hidden" name="categoryId" id="categoryId" value="">
                                            <div class="mb-3">
                                                <label class="form-label" style="font-size: 16px;font-weight: 600;">Category
                                                    Name:</label>
                                                <input type="text" class="form-control" id="categoryName"
                                                    name="categoryName" value="" style="height: 30px;font-size: 14px;">
                                            </div>
                                            <button type="button" class="btn btn-success" id="update-btn"
                                                onclick="updateCategory(document.getElementById('categoryId').value)"
                                                style="height: 32px;width: 100px;font-size: 14px;">Update
                                                Category</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <% } else { %>
                            <h1 class="text-center text-secondary mt-5">No records Found</h1>
                            <% } %>

                                <!-- <ul class='pagination admin-pagination'>
                                    <li class="active"><a>1</a></li>
                                    <li><a>2</a></li>
                                    <li><a>3</a></li>
                                </ul> -->
                </div>
            </div>
        </div>
    </div>
    <%- include('footer') %>