<%- include('header') %>
    <div id="admin-content">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <h1 class="admin-heading">All Users</h1>
                </div>
                <div class="col-md-2">
                    <a class="add-new" href="/dashboard/add-user">add user</a>
                </div>
                <div class="col-lg-12">
                    <% if(user1 !=="" ){ %>
                        <table class="content-table" id="dt1" style="border: none;">
                            <thead>
                                <th style="font-size: 16px;" class="text-center">S.No.</th>
                                <th style="font-size: 16px;" class="text-center">Email</th>
                                <th style="font-size: 16px;" class="text-center">User Name</th>
                                <th style="font-size: 16px;" class="text-center">Role</th>
                                <th style="font-size: 16px;" class="text-center">Edit</th>
                                <th style="font-size: 16px;" class="text-center">Delete</th>
                            </thead>
                            <tbody>
                                <% user1.forEach((row, index)=> { %>
                                    <tr>
                                        <td style="font-size: 15px;" class="text-center">
                                            <%= index+1 %>
                                        </td>
                                        <td style="font-size: 15px;" class="text-center">
                                            <%= row.email %>
                                        </td>
                                        <td style="font-size: 15px;" class="text-center">
                                            <%= row.username %>
                                        </td>
                                        <td style="font-size: 15px;" class="text-center">
                                            <% if(row.role===0){ %>
                                                <p>editor</p>
                                                <% } else { %>
                                                    <p>admin</p>
                                                    <% } %>
                                        </td>
                                        <td style="font-size: 15px;" class="text-center">
                                            <!-- Edit User button -->
                                            <a href="#" class="text-danger" data-bs-toggle="modal"
                                                data-bs-target="#editModal" onclick="setData('<%= row._id %>')">
                                                <i class="fas fa-edit fa-lg mx-1"></i>
                                            </a>
                                        </td>
                                        <td style="font-size: 15px;" class="text-center">
                                            <!-- Delete User button -->
                                            <a style="cursor: pointer;" class="text-danger"
                                                onclick="deleteData('<%= row._id %>')">
                                                <i class="fas fa-trash fa-lg mx-1"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <% }) %>
                            </tbody>
                        </table>

                        <!-- Edit Modal -->
                        <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="editModalLabel" style="font-size: 18px;font-weight: 600;">Edit User</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="height: 20px; width: 40px;background-color: black;color:white;border: none;border-radius: 1;">
                                            <i class="fas fa-times"></i>
                                          </button>
                                    </div>
                                    <div class="modal-body">
                                        <form id="edit-form" enctype="multipart/form-data">
                                            <input type="hidden" name="id1" id="id1" value="">
                                            <div class="mb-3">
                                                <label for="email" class="form-label" style="font-size: 16px;font-weight: 600;">E-mail:</label>
                                                <input type="email" class="form-control" id="email1" name="email1"
                                                    value="" style="height: 30px;font-size: 14px;">
                                            </div>
                                            <div class="mb-3">
                                                <label for="phone" class="form-label" style="font-size: 16px;font-weight: 600;">Username:</label>
                                                <input type="tel" class="form-control" id="username1" name="username1"
                                                    value="" style="height: 30px;font-size: 14px;">
                                            </div>
                                            <div class="mb-3">
                                                <label style="font-size: 16px;font-weight: 600;">User Role</label>
                                                <select class="form-control" id="role1" name="role1" value="" style="height: 30px;font-size: 14px;">
                                                    <option value="0" style="height: 30px;font-size: 14px;">Editor</option>
                                                    <option value="1" style="height: 30px;font-size: 14px;">Admin</option>
                                                </select >
                                            </div>
                                            <button type="button" class="btn btn-success" id="update-btn"
                                                onclick="updateData(document.getElementById('id1').value)" style="height: 32px;width: 100px;font-size: 14px;">Update
                                                User</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <% } else { %>
                            <h1 class="text-center text-secondary mt-5">No records Found</h1>
                            <% } %>
                </div>
            </div>
        </div>
    </div>
    <%- include('footer') %>